# Python Bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
swarm/
.env

# Flask instance folder
instance/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test result files
nosetests.xml
coverage.xml
*.cover
*.log

# IDE or Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
